.tdv-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    font-size: 0.6rem;
  }
}

.tdv-table th,
.tdv-table td {
  padding: 12px 15px;
  border: 1px solid #eee;
}

.tdv-table th {
  background-color: #f5f5f5;
  text-align: left;
}

.tdv-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tdv-input {
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tdv-empty {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  margin-top: 40px;
}

.tdv-chart-wrapper {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.tdv-chart {
  width: 100%;
  height: 100%;
}

.label {
  fill: #333;
  font-size: 6px;
}

.value {
  fill: #333;
  font-size: 6px;
}

.tdv-edit-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .buttons-wrapper {
      display: flex;
      gap: 5px;
      flex-direction: row;
    }
  }
}

.edit-row {
  display: flex;
  align-items: center;
  background-color: #e9d2de;
  border: 1px solid #666;
  padding: 0.5rem;
  border-radius: 8px;
}

.close-edit-wrapper {
  cursor: pointer;
  font-weight: bold;
}
